<template>
  <h1>Hi Kristof!</h1>
  <h2>Today is {{ weekday[new Date().getDay()]  }} ({{ week.toUpperCase() }})</h2>
  <WeekendCheck />
  <Schedule />
  <Events />
</template>

<script>
import Schedule from '../components/Schedule.vue';
import Events from '../components/Events.vue';
import WeekendCheck from '../components/WeekendCheck.vue';

export default {
  name: 'Home',
  data() {
    return {
      weekday: [ 
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
       ],
       weekend: this.$store.state.weekend || null,
       week: this.$store.state.week || null
    }
  },
  mounted() {
    console.log(this.weekend);
  },
  components: {
    Schedule,
    Events,
    WeekendCheck
  }
}
</script>

<style scoped>
  h1, h2 {
    text-align: left;
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  h1 {
    margin-top: 3rem;
  }

  h2 {
    color: rgb(129, 129, 129);
  }
</style>
