<template>
    <div class="score">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
            <circle cx="16" cy="16" r="15.9155" class="progress-bar__background" />
            <circle id="circle" cx="16" cy="16" r="15.9155" class="progress-bar__progress js-progress-bar" />
        </svg>
        <span>{{ score }}</span>
    </div>
    
    <!-- Calc -->
    <!-- 
        Full Circle represents Productivity/Hapiness by accomplishing goals
        Full Circle means that I'm very productive on average (per Week)
        
        Circle can update any time 

        Empty Circle represents absolute laziness and not even accomplishing a single goal a day

        0%      very lazy
        10%     lazy
        20%     
        30%
        40%
        50%     average
        60%     
        70%
        80%     
        90%     productive
        100%    very productive 

        ---------------------------------------------------------------

        Percentage below circle means comparison between today's points and average of every day points of last week 

        ---------------------------------------------------------------

        Also display sum of todays points

        ---------------------------------------------------------------

        Display Daily Point Limit

        ---------------------------------------------------------------

        
    -->
</template>

<script>
export default {
    name: "Score",
    data() {
        return {
            score: this.$store.state.score
        }
    },
    mounted() {
        const percentageComplete = this.score / 1000;   // 1 = 100%
        const strokeDashOffsetValue = 100 - (percentageComplete * 100);
        const progressBar = document.getElementById("circle");
        progressBar.style.strokeDashoffset = strokeDashOffsetValue;
    }
}
</script>

<style scoped>

    .score {
        position: relative;
    }

    .score span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        font-weight: 800;
    }

    svg {
        height: 300px;
        transform: rotate(-90deg);
        width: 300px;
    }

    .progress-bar__background {
        fill: none;
        stroke: #e2eff0;
        stroke-width: 1.8;
    }

    .progress-bar__progress {
        fill: none;
        stroke: #e2eff0;
        stroke: #78bec7;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 90;
        stroke-linecap: round;
        stroke-width: 1.8;
        transition: stroke-dashoffset 1s ease-in-out;
    }
</style>