<template>
    <div ref="wrapper" class="wrapper">
        <div @click="goToScore" ref="score" class="dot"></div>
        <div @click="goToHome" ref="home" class="dot"></div>
        <div @click="goToCategories" ref="categories" class="dot"></div>
    </div>
    
</template>

<script>
export default {
    name: "BottomNav",
    watch: { 
     '$route.name': {
        handler: function(name) {
            this.highlight(name);
        },
        deep: true
      }
    },
    methods: {
        goToScore() {
            this.$router.push("/score");
        },
        goToHome() {
            this.$router.push("/");
        },
        goToCategories() {
            this.$router.push("/categories");
        },
        highlight(name) {
            const dots = this.$refs["wrapper"].children;
            for(let i = 0; i < dots.length; i++) {
                dots[i].classList.remove("highlight");
            }
            this.$refs[name.toLowerCase()].classList.add("highlight");
        }
    },
    mounted() {
        console.log(this.$route);
}
}
</script>

<style scoped>
    .wrapper {
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50px;
    }

    .dot {
        height: 7px;
        width: 7px;
        border-radius: 100px;
        background: #ccc;
    }

    .highlight {
        background: rgb(73, 196, 93);
    }

    .dot:hover {
        transform: scale(2.05);
        transition: all 0.3s ease; 
    }
</style>