<template>
    <div class="background">    
        <div class="wrapper">
            <p ref="message" class="message">
                An Error occured!
            </p>
            <button @click="reload">Try again!</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "Error",
    methods: {
        reload() {
            location.reload();
        }
    }
}
</script>

<style scoped>
    .background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #eee;
        width: 80%;
        height: 50%;
        z-index: 5;
        border-radius: 10px;
  }
</style>