<template>
    <div class="wrapper">
        <div class="divider"></div>
        <div class="events">
            <button ref="holiday-button" @click="handleHolidaySchedule">
                <span v-if="holidays == true">End Holidays?</span> 
                <span v-else>Holidays?</span> 
                </button>
            <button @click="changeWeek($event)">Wrong Week?</button>
        </div>
        <Error v-if="error" /> 
    </div>
</template>

<script>
import axios from 'axios';
import Error from '../components/Error.vue'

export default {    
    name: "Events",
    data() {
        return {
            holidays: localStorage.getItem("holidays"),
            error: false
        }
    },
    components: {
        Error
    },
    methods: {
        handleHolidaySchedule() {
            // Check if Holiday Flag was set to true
            if(localStorage.getItem("holidays") == "true") {
                // End Holidays
                localStorage.setItem("holidays", false);
                this.holidays = false;
                return;
            }
            // Check if Holiday Flag was set to false
            if(localStorage.getItem("holidays") == "false") {
                axios.get("http://80.240.20.23:5000/schedule/holiday").then(res => {
                    console.log(res.data);
                    this.$store.commit("setSchedule", res.data);
                    localStorage.setItem("holidays", true); 
                    this.holidays = true;
                }).catch(err => {
                    console.log(err);
                    this.error = true;
                });

                return;
            } 
        },
        changeWeek(e) {
            e.target.style.transform = "scale(1.1)";
            e.target.innerText = "Changed!"
            setTimeout(() => {
                e.target.style.transform = "scale(1)";
                e.target.innerText = "Wrong Week?";
            }, 1000);
            if(localStorage.getItem("week") === "a") {
                localStorage.setItem("week", "b");
                return;
            } 
            if(localStorage.getItem("week") === "b") {
                localStorage.setItem("week", "a");
                return;
            }
        }
    }
}
</script>

<style scoped>
    .wrapper {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .divider {
        height: 4px;
        width: 50%;
        background-color: rgb(160, 160, 160);
        margin: 0 auto;
        border-radius: 10px;
    }

    .events {
        display: flex;
        flex-direction: column;
    }

    button {
        border: none;
        outline: none;
        width: 120px;
        height: 40px;
        margin-top: 1rem;
        margin-left: 1rem;
        background-color: #c348e8;
        color: #fff;
        font-weight: 800;
        border-radius: 1px;
    }

</style>
