<template>
    <div ref="items" class="wrapper">
        <div class="item" v-for="(val, prop) in todaysSchedule" :key="prop"  v-bind:class="{ disabled: checkTime(prop) }" @click="complete(prop, $event)">
            <div class="time">{{ prop }}</div>
            <div class="content">{{ val.content }}</div>
            <div id="status" v-bind:class="{ hidden: checkTime(prop) }">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div id="check">
                    <button @click="failed(prop, $event)">x</button>
                </div>
            </div>
        </div>
    </div>
    <LoadingIndicator v-bind:loading="isLoading" />
    <Error v-if="errorOccured" :errorData="errorData" />
</template>

<script>
import LoadingIndicator from '../components/LoadingIndicator.vue';
import Error from '../components/Error.vue';

export default {
    name: "Schedule",
    data() {
        return {
            todaysSchedule: null,
            schedule: null,
            isLoading: true,
            errorOccured: false,
            errorData: null,
        }
    },
    components: { 
        LoadingIndicator,
        Error
    }, 
    mounted() {
        setTimeout(() => {
            this.schedule = this.$store.state.schedule;
            if(!this.schedule) {
                this.isLoading = false;
                this.errorOccured = true;
            }
            this.todaysSchedule = this.schedule;
            this.weekend = this.$store.state.weekend;
            Object.keys(this.schedule).map((key) => [Number(key), this.todaysSchedule[key]]);     // What is this line doing?
        }, 100);
        setTimeout(this.updateSchedule, 1000);
        setTimeout(() => { 
            this.isLoading = false;
         }, 5000)
        // Calculate minutes to next full Hour
        setInterval(this.updateSchedule, 1000 * 60 * 60);
    },
    methods: {
        checkTime(item) {
            return localStorage.getItem(item);
        },
        complete(item, e) {
            if(e.target.classList.contains("item")) {
                e.target.children[2].style.visibility = "hidden";
            } else if(e.target.tagName.toLowerCase() == "button") {
                // Accept Event of Fail Button and pass
                return;
            } else {
                e.target.parentElement.children[2].style.visibility = "hidden";
            }
            this.$store.commit("updateScore", 10);
            localStorage.setItem(item, true);
        },
        failed(item, e) {
            e.target.parentElement.style.visibility = "hidden";
            this.$store.commit("updateScore", -10);
            localStorage.setItem(item, true);
        },
        updateSchedule() {
            this.isLoading = true;
            let d = new Date();
            const wrapper = this.$refs["items"];
            for (let child of wrapper.children) {
                if(child.innerText.split(":")[0] < d.getHours()) {
                    // Show Check Buttons
                    const check = child.children.status.children.check;
                    check.style.display = "flex";

                    // Highlight Time div in green
                    child.getElementsByClassName("time")[0].style.background = "#99C2A2";

                    // Lower Contrast of Text
                    child.style.color = "#7A918D";

                    // Hide Dots
                    const dots = child.children.status.getElementsByClassName("dot");
                    for(let i = 0; i < dots.length; i++) {
                        dots[i].style.display = "none";
                    }

                    // Cursor pointer
                    child.classList.add("finished");

                    this.isLoading = false;
                }
                // Highlight current Task
                if(child.innerText.split(":")[0] == d.getHours()) {
                    child.style.transform = "scale(1.05)";
                    child.style.background = "#ddd";
                }
            }
        }
    }
}
</script>

<style scoped>
    .wrapper {
        margin-top: 3rem;
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        background: #fefefe;
        height: 50px;
    }

    .item:nth-child(odd) {
        background: #eee;
    }
    
    .time {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #status {
        width: 20%;
    }

    .dot {
        width: 5px;
        height: 5px;
        background: #7e7e7e;
        border-radius: 100%;
        margin: 0 0.1em;
        display: inline-block;
        animation: jump 1s infinite;
    }

    .dot:first-child {
        -webkit-animation-delay: 100ms;
        animation-delay: 100ms;
    }

    .dot:nth-child(2) {
        -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    .dot:nth-child(3) {
        -webkit-animation-delay: 300ms;
        animation-delay: 300ms;
    }

    #check {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        display: none;
    }

    #check button {
        width: 20px;
        height: 20px;
        border: none;
        outline: none;
        background: #6BF178;
        cursor: pointer;
        border-radius: 2px;
    }

    #check button:first-child {
        background: #FF5964;
    }

    #check button:hover {
        transform: scale(1.5);
        transition: transform 0.3s ease;
    }

    .finished {
        cursor: pointer;
    }

    .disabled {
        pointer-events: none;
    }

    .hidden {
        visibility: hidden;
    }

    @keyframes jump {
        0% {
            transform: translateY(0px);
        }
        30% {
            transform: translateY(5px);
        }
        60% {
            transform: translateY(0px);
        }
    }
</style>