<template>
    <div class="wrapper">
        <div v-if="isWeekend" class="weekend-selection">
            <div @click="highlight($event)" class="option">👨</div>
            <div class="line"></div>
            <div @click="highlight($event)" class="option">👩</div>
        </div>
    </div>
    <Error v-if="errorOccured" />
</template>

<script>
import axios from 'axios';
import Error from '../components/Error.vue';

export default {
    name: "WeekendCheck",
    components: {
        Error
    },
    data() {
        return {
            isWeekend: false,
            errorOccured: false
        }
    },
    methods: {
        highlight(e) {
            let weekend = null;

            // Remove Highlight from previous selected Element
            if(e.target.parentNode.childNodes[0].classList.contains("highlighted")) {
                e.target.parentNode.childNodes[0].classList.remove("highlighted");
                weekend = "m";  // Set for API Call
            } else {
               e.target.parentNode.childNodes[2].classList.remove("highlighted"); 
               weekend = "d";   // Set for API Call
            }

            console.log(weekend);      // DEV

            // Highlight
            e.target.classList.add("highlighted");

            // Fetch new Schedule 
            axios.get("http://80.240.20.23:5000/today/schedule/weekend/" + weekend).then(res => {
                console.log("Weekend Data: " + JSON.stringify(res.data));       // DEV
                this.$state.commit("setSchedule", res.data);    // VueX
                location.reload();
            }).catch(err => {
                this.errorOccured = true;
                console.log(err);   // DEV
            });
        }
    },
    mounted() {
        const date = new Date();
        if(date.getDay() == 6 || date.getDay() == 0) {
            this.isWeekend = true;
        }
    }
}
</script>

<style scoped>
    .wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 1.5rem 0;
    }

    .weekend-selection {
        position: absolute;
        top: 30%;
        right: 5%;

        width: 40%;
        height: 50px;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .option {
        width: 50%;
        background-color: rgb(248, 248, 248);
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

    .option.highlighted {
        background-image: linear-gradient(to right, #5ebf85, #51d687);
        transform: scale(1.1);
    }

    .option:nth-child(1) {
        border-radius: 10px 0px 0px 10px;
    }

    .line {
        height: 35px;
        width: 1px;
        background: #ccc;
        border-radius: 15px;
    }
</style>    