<template>
  <router-view />
  <BottomNav />
  <Error v-if="errorOccured" />
</template>

<script>
import BottomNav from './components/BottomNav.vue';
import Error from './components/Error.vue';
import axios from 'axios';

export default {
  name: "App",
  components: {
    BottomNav,
    Error
  },
  data() {
    return {
      pages: [
        "score",
        "", //home
        "categories"
      ],
      pageIndex: 1,
      errorOccured: false
    }
  },
  mounted() {
    let touchstartX;
    let touchendX;
    
    document.addEventListener('touchstart', function (event) {
        touchstartX = event.changedTouches[0].screenX;
    }, false);

    document.addEventListener('touchend', (event) => {
        touchendX = event.changedTouches[0].screenX;
        if((touchendX - touchstartX) < -100 && this.pageIndex < 2) {
          this.pageIndex++;
        } else if((touchendX - touchstartX) > 100 && this.pageIndex > 0) {
          this.pageIndex--;
        } else {
          return;
        }
        this.$router.push("/" + this.pages[this.pageIndex]);
    }, false);

    // Get Today's Schedule and store in vuex
    axios.get("http://80.240.20.23:5000/today/schedule").then(res => {
        this.$store.commit("setSchedule", res.data[0].schedule);
        this.$store.commit("setWeekend", res.data[0].weekend);
        console.log("Today's Schedule data: " + JSON.stringify(res.data));
    }).catch(err => {
        console.log("Error while trying to fetch todays schedule data: " + err.toString());
        this.errorOccured = true;
    });

    
    const date = new Date();  
    // Check if Today Item is set. If NOT then set it
    if(!localStorage.getItem("today")) {
      localStorage.setItem("today", date.getDay());
    }
    // If the today Item value unequals date.getDay() then clear localStorage and set Today Item
    if(localStorage.getItem("today") != date.getDay()) {
      localStorage.clear();
      localStorage.setItem("today", date.getDay());
    }

    // Switch Weeks if Monday
    if(date.getDay() == 1) {
      if(localStorage.getItem("week") === "a") {
        localStorage.setItem("week", "b")
      } 
      if(localStorage.getItem("week") === "b") {
        localStorage.setItem("week", "a");
      }
    }

    if(localStorage.getItem("holidays") === null) {
      localStorage.setItem("holidays", false);
    }

    if(localStorage.getItem("week") === null) {
      localStorage.setItem("week", "a");
    }

    

  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
#app {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #2e4255;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

button {
  font-family: 'Montserrat', sans-serif;
}
</style>
